<div class='page-header'>
  <h2>
      <small class='col-xs-3 text-left'><%= @user.first_name %></small>
      <span class='col-xs-6 text-center'><%= @chatroom.language.name %> Immersion</span>
      <small class='col-xs-3 text-right' ng-model="friend.name">{{ friend.name }}</small>
  </h2>
</div>
