<div class='page-header'>
  <h2>
    <div class='col-xs-4'>
      <small class='text-left'><%= @user.first_name %></small>
    </div>
    <div class='col-xs-4'>
      <span class='text-center'><%= @chatroom.language.name %> Immersion</span>
    </div>
    <div class='col-xs-4'>
      <small class='text-right' ng-model="friend.name">{{ friend.name }}</small>
    </div>
  </h1>
</div>
