<h3 class='strong'>Welcome to Online Immersion, <%= @user.first_name %>.</h3>
<br />
<br />
<div class='container'>
  <div class='col-md-6'>
    <h4>Get started by choosing a language for a video chat</h4>
    <p>...................................</p>
    <div class='list-group'>
      <% @supported_languages.each do |language| %>
        <%= button_to "#{language.name}", user_chatrooms_path(@user), class: "btn btn-large" %>
      <% end %>
    </div>
  </div>
  <div class='col-md-4'>
    <%= image_tag image_path 'http://placekitten.com/300/200' %>
  </div>
</div>
