<h3 class='strong'>Welcome to Online Immersion, <%= @user.first_name %>.</h3>
<br />
<br />
<div class='container'>
  <div class='col-md-7 container'>
    <h4>Get started by choosing a language for a video chat</h4>
    <p>...................................</p>
      <% @supported_languages.each do |language| %>
        <div class='col-md-4 text-center'><p>
          <%= button_to [@user, :chatrooms], params: {language_id: language.id}, class: 'btn btn-lg btn-primary' do %>
            <%= language.name %>
          <% end %>
        </p></div>
      <% end %>
  </div>
  <div class='col-md-5'>
    <%= image_tag image_path 'http://placekitten.com/450/300' %>
  </div>
</div>
