<% content_for :title do %>
  <%= "| Chatroom" %>
<% end %>

<div ng-app="chatbox">
  <div class='col-xs-12'>
    <% render 'chatroom_header' %>
  </div>
  <div class='col-md-7'>
    <% render 'video_chat' %>
  </div>
  <div class='col-md-5'>
    <%= render 'text_chat' %>
  </div>
</div>
