<% content_for :title do %>
  <%= "| Chatroom" %>
<% end %>

<div ng-app="chatroom" ng-controller="PageCtrl">
  <div class='container-fluid'>
    <%= render 'chatroom_header' %>
  </div>
  <div class='col-sm-7'>
    <%= render 'video_chat' %>
  </div>
  <div class='col-sm-5'>
    <%= render 'text_chat' %>
  </div>
</div>
